{% import "backend/macros.html" as macros %}
{% extends "backend/custom/surround.html" %}

{% block content %}
            <form method="post" enctype="multipart/form-data" id="form-record">
            <!-- Inputs ocultos -->
            <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">

            <div class="bg-white shadow-sm rounded-3 p-4">
                <div class="card mb-4">
                    <div class="card-header bg-light fw-semibold">
                        Encuesta Octubre
                    </div>
                    <div class="card-body">
                        <div class="row g-4">
                            <div class="col-md-12">
                                {{ macros.fieldFormSurvey(fields["gender"],record,editable)}}
                                {{ macros.fieldFormSurvey(fields["age"],record,editable)}}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row g-4">
                            <div class="col-md-12">
                            <!-- Cantón y Provincia -->
                                <div class="mb-3 border border-grey p-3" id="countyDiv">
                                    <label for="county" class="form-label">Cantón</label>
                                    <select class="form-select" id="county" aria-label="Cantones de Costa Rica por provincia" name="county" required>
                                    <option value="" selected disabled>Seleccione un cantón</option>
                                    <optgroup label="San José">
                                        <option value="san-jose">San José</option>
                                        <option value="escazu">Escazú</option>
                                        <option value="desamparados">Desamparados</option>
                                        <option value="puriscal">Puriscal</option>
                                        <option value="tarrazu">Tarrazú</option>
                                        <option value="aserri">Aserrí</option>
                                        <option value="mora">Mora</option>
                                        <option value="goicoechea">Goicoechea</option>
                                        <option value="santa-ana">Santa Ana</option>
                                        <option value="alajuelita">Alajuelita</option>
                                        <option value="vazquez-de-coronado">Vázquez de Coronado</option>
                                        <option value="acosta">Acosta</option>
                                        <option value="tibas">Tibás</option>
                                        <option value="moravia">Moravia</option>
                                        <option value="montes-de-oca">Montes de Oca</option>
                                        <option value="turrubares">Turrubares</option>
                                        <option value="dota">Dota</option>
                                        <option value="curridabat">Curridabat</option>
                                        <option value="perez-zeledon">Pérez Zeledón</option>
                                        <option value="leon-cortes-castro">León Cortés Castro</option>
                                    </optgroup>
                                    <optgroup label="Alajuela">
                                        <option value="alajuela">Alajuela</option>
                                        <option value="san-ramon">San Ramón</option>
                                        <option value="grecia">Grecia</option>
                                        <option value="san-mateo">San Mateo</option>
                                        <option value="atenas">Atenas</option>
                                        <option value="naranjo">Naranjo</option>
                                        <option value="palmares">Palmares</option>
                                        <option value="poas">Poás</option>
                                        <option value="orotina">Orotina</option>
                                        <option value="san-carlos">San Carlos</option>
                                        <option value="zarcero">Zarcero</option>
                                        <option value="valverde-vega">Valverde Vega</option>
                                        <option value="upala">Upala</option>
                                        <option value="los-chiles">Los Chiles</option>
                                        <option value="guatuso">Guatuso</option>
                                        <option value="rio-cuarto">Río Cuarto</option>
                                    </optgroup>
                                    <optgroup label="Cartago">
                                        <option value="cartago">Cartago</option>
                                        <option value="paraiso">Paraíso</option>
                                        <option value="la-union">La Unión</option>
                                        <option value="jimenez">Jiménez</option>
                                        <option value="turrialba">Turrialba</option>
                                        <option value="alvarado">Alvarado</option>
                                        <option value="oremuno">Oreamuno</option>
                                        <option value="el-guarco">El Guarco</option>
                                    </optgroup>
                                    <optgroup label="Heredia">
                                        <option value="heredia">Heredia</option>
                                        <option value="barva">Barva</option>
                                        <option value="santo-domingo">Santo Domingo</option>
                                        <option value="santa-barbara">Santa Bárbara</option>
                                        <option value="san-rafael">San Rafael</option>
                                        <option value="san-isidro">San Isidro</option>
                                        <option value="belen">Belén</option>
                                        <option value="flores">Flores</option>
                                        <option value="san-pablo">San Pablo</option>
                                        <option value="sarapiqui">Sarapiquí</option>
                                    </optgroup>
                                    <optgroup label="Guanacaste">
                                        <option value="liberia">Liberia</option>
                                        <option value="nicoya">Nicoya</option>
                                        <option value="santa-cruz">Santa Cruz</option>
                                        <option value="bagaces">Bagaces</option>
                                        <option value="carrillo">Carrillo</option>
                                        <option value="cañas">Cañas</option>
                                        <option value="abangares">Abangares</option>
                                        <option value="tilaran">Tilarán</option>
                                        <option value="nandayure">Nandayure</option>
                                        <option value="la-cruz">La Cruz</option>
                                        <option value="hojancha">Hojancha</option>
                                    </optgroup>
                                    <optgroup label="Puntarenas">
                                        <option value="puntarenas">Puntarenas</option>
                                        <option value="esparza">Esparza</option>
                                        <option value="buenos-aires">Buenos Aires</option>
                                        <option value="montes-de-oro">Montes de Oro</option>
                                        <option value="osa">Osa</option>
                                        <option value="quepos">Quepos</option>
                                        <option value="golfito">Golfito</option>
                                        <option value="coto-brus">Coto Brus</option>
                                        <option value="parrita">Parrita</option>
                                        <option value="corredores">Corredores</option>
                                        <option value="garabito">Garabito</option>
                                        <option value="monteverde">Monteverde</option>
                                        <option value="puerto-jimenez">Puerto Jiménez</option>
                                    </optgroup>
                                    <optgroup label="Limón">
                                        <option value="limon">Limón</option>
                                        <option value="pococí">Pococí</option>
                                        <option value="siquirres">Siquirres</option>
                                        <option value="talamanca">Talamanca</option>
                                        <option value="matina">Matina</option>
                                        <option value="guacimo">Guácimo</option>
                                    </optgroup>
                                    </select>
                                </div>
                                <script>
                                    document.addEventListener('DOMContentLoaded', (event) => {
                                    const countySelect = document.getElementById('county');

                                    if (countySelect) {
                                        countySelect.addEventListener('change', (e) => {
                                        const selectedOption = e.target.options[e.target.selectedIndex];
                                        const provinceGroup = selectedOption.closest('optgroup');
                                        const containerDiv = document.getElementById('countyDiv');

                                        // Remover cualquier input 'state' hidden existente para evitar duplicados.
                                        const existingStateInput = containerDiv.querySelector('input[name="state"]');
                                        if (existingStateInput) {
                                            existingStateInput.remove();
                                        }

                                        if (provinceGroup) {
                                            // Obtener el nombre de la provincia del label de optgroup
                                            let provinceName = provinceGroup.label;
                                            
                                            // Formatear el nombre de la provincia a un valor de URL-friendly (lowercase, sin acentos, con guiones)
                                            let provinceValue = provinceName.toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "").replace(/\s/g, '-');

                                            // Crear el input hidden
                                            const hiddenInput = document.createElement('input');
                                            hiddenInput.type = 'hidden';
                                            hiddenInput.name = 'state';
                                            hiddenInput.value = provinceValue;
                                            
                                            // Agregar el input hidden al div contenedor
                                            containerDiv.appendChild(hiddenInput);
                                        }
                                        });
                                    }
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row g-4">
                            <div class="col-md-12">
                                {{ macros.fieldFormSurvey(fields["education"],record,editable)}}
                                {{ macros.fieldFormSurvey(fields["religion"],record,editable)}}
                                {{ macros.fieldFormSurvey(fields["party"],record,editable)}}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row g-4">
                            <div class="col-md-12">
                                {{ macros.fieldFormSurvey(fields["nationalElection"],record,editable)}}
                                {{ macros.fieldFormSurvey(fields["congress"],record,editable)}}
                                {{ macros.fieldFormSurvey(fields["support"],record,editable)}}
                                {{ macros.fieldFormSurvey(fields["contact"],record,editable)}}
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-sm btn-secondary" form="form-record"><span class="material-icons align-middle">save</span>Guardar</button>
            </form>
{% endblock %}