{% import "backend/routing/macros.html" as macros %}
{% extends "backend/template.html" %}

{% block title %}Nuevo{% endblock %}

{% block content %}
 <style>
    .form-check {
  margin-bottom: 0.5rem;
}
 </style>
<div class="container mt-3">

    <h2 class="my-3">Encuesta EC032025 - Encuestador {{ current_user.id }}</h2>
    <form method="post">
        <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" id="createdby_id" name="createdby_id" value="{{ current_user.id }}" >
        <!-- fieldset row -->
        <!-- Datos demográficos -->
        <div class="my-5">
            <div class="mb-3">
                <h4>Datos demográficos</h4>
            </div>
            <div class="mb-3 border border-grey p-3">
                <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                 {% set options = {
                    "a. 18 -20":"a. 18 -20",
                    "b. 21 - 24":"b. 21 - 24",
                    "c. 25 - 29":"c. 25 - 29",
                    "d. 30 - 34":"d. 30 - 34",
                    "e. 35 - 39":"e. 35 - 39",
                    "f. 40 - 44":"f. 40 - 44",
                    "g. 45 - 49":"g. 45 - 49",
                    "h. 50 - 54":"h. 50 - 54",
                    "i. 55 - 59":"i. 55 - 59",
                    "j. 60 - 64":"j. 60 - 64",
                    "k. 65 - 69":"k. 65 - 69",
                    "l. 70 - 79":"l. 70 - 79",
                    "m. + 80":"m. + 80"
                 } %}
                 {{ macros.fieldForm("radio","1. Edad","age","age","True",options,"")}}
            </div>
            <div class="mb-3 border border-grey p-3">
                <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                 {% set options = {
                    "A. Masculino":"A. Masculino",
                    "B. Femenino":"B. Femenino"
                 } %}
                 {{ macros.fieldForm("radio","2. Género","gender","gender","True",options,"")}}
            </div>
            <div class="mb-3 border border-grey p-3">
                <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                 {% set options = {
                    "1. San José":"1. San José",
                    "2. Alajuela":"2. Alajuela",
                    "3. Cartago":"3. Cartago",
                    "4. Heredia":"4. Heredia",
                    "5. Guanacaste":"5. Guanacaste",
                    "6. Puntarenas":"6. Puntarenas",
                    "7. Limón":"7. Limón"
                 } %}
                 {{ macros.fieldForm("radio","3. Provincia","state","state","True",options,"")}}
            </div>
            <div class="mb-3 border border-grey p-3">
                <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                 {% set options = {
                    "a. Partido Liberación Nacional":"a. Partido Liberación Nacional",
                    "b. Partido Unidad Social Cristiana":"b. Partido Unidad Social Cristiana",
                    "c. Partido Nueva República":"c. Partido Nueva República",
                    "d. Partido Progreso Social Democrático":"d. Partido Progreso Social Democrático",
                    "e. Frente Amplio":"e. Frente Amplio",
                    "f. Partido Liberal Progresista":"f. Partido Liberal Progresista",
                    "g. PAC":"g. PAC",
                    "h. PNG":"h. PNG",
                    "i. Pueblo Soberano":"i. Pueblo Soberano",
                    "j. Partido Unidos Podemos":"j. Partido Unidos Podemos",
                    "k. Partido Motiva":"k. Partido Motiva",
                    "l. Partido de Rodrigo Chaves":"l. Partido de Rodrigo Chaves",
                    "m. Otro":"m. Otro",
                    "n. Ninguno":"n. Ninguno",
                    "o. NS/NR":"o. NS/NR"
                 } %}
                 {{ macros.fieldForm("radio","3. Cuál es el partido político de su preferencia?","party","party","True",options,"")}}
            </div>
        </div>
        <!-- Apoyos Políticos -->
        <div class="my-5">
            <div class="mb-3">
                <h4>Apoyos políticos</h4>
            </div>
            <div class="my-5">
                <div class="mb-3 border border-grey p-3">
                    <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                    {% set options = {
                        "a. Sí":"a. Sí",
                        "b. No":"b. No",
                        "c. NS/NR":"c. NS/NR"
                    } %}
                    {{ macros.fieldForm("radio","4. Usted apoyaría un partido del presidente Rodrigo Chaves?","chavesParty","chavesParty","True",options,"")}}
                </div>
            </div>
            <div class="my-5">
                <div class="mb-3 border border-grey p-3">
                    <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                    {% set options = {
                        "a. Sí":"a. Sí",
                        "b. No":"b. No",
                        "c. NS/NR":"c. NS/NR"
                    } %}
                    {{ macros.fieldForm("radio","5. Votaría usted en la convención del Partido Liberación Nacional?","plnElections","plnElections","True",options,"")}}
                </div>
                <div id="div-plnCandidate" class="mb-3 border border-grey p-3">
                    <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                    {% set options = {
                        "a. Gilbert Jiménez":"a. Gilbert Jiménez",
                        "b. Carolina Delgado":"b. Carolina Delgado",
                        "c. Alvaro Ramos":"c. Alvaro Ramos",
                        "d. Marvin Taylor":"d. Marvin Taylor",
                        "e. NS/NR":"e. NS/NR",
                        "f. Ninguno":"f. Ninguno"
                    } %}
                    {{ macros.fieldForm("radio","6. Si usted votara en la convención del Partido Liberación Nacional por quién lo haría? (Papeleta)","plnCandidate","plnCandidate","True",options,"")}}
                </div>
            </div>
            <div class="my-5">
                <div class="mb-3 border border-grey p-3">
                    <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                    {% set options = {
                        "Mauricio Batalla":"Mauricio Batalla",
                        "Laura Fernandez":"Laura Fernandez",
                        "Álvaro Ramos":"Álvaro Ramos",
                        "Fabricio Alvarado":"Fabricio Alvarado",
                        "Eliécer Feinzaig":"Eliécer Feinzaig",
                        "Gilbert Jiménez":"Gilbert Jiménez",
                        "Carolina Delgado":"Carolina Delgado",
                        "Claudia Dobles":"Claudia Dobles",
                        "Sofia Guillen":"Sofia Guillen",
                        "Juan Carlos Hidalgo":"Juan Carlos Hidalgo",
                        "Rolando Araya Monge":"Rolando Araya Monge",
                        "Luis Amador":"Luis Amador",
                        "Marvin Taylor":"Marvin Taylor",
                        "Natalia Diaz":"Natalia Diaz",
                        "Claudio Alpizar":"Claudio Alpizar",
                        "Fernando Zamora":"Fernando Zamora",
                        "Ninguno":"Ninguno",
                        "NS/NR":"NS/NR"
                    } %}
                    {{ macros.fieldForm("radio","7. De la siguiente papeleta por quien votaría usted en las próximas elecciones? ","generalElections","generalElections","True",options,"")}}
                </div>
            </div>
            <div class="my-5">
                <div class="mb-3 border border-grey p-3">
                    <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                    {% set options = {
                        "a. Sí":"a. Sí",
                        "b. No":"b. No",
                        "c. NS/NR":"c. NS/NR"
                    } %}
                    {{ macros.fieldForm("radio","Apoya usted la gestión del presidente Rodrigo Chaves?","chavesSupport","chavesSupport","True",options,"")}}
                </div>
            </div>
        </div>
        <!-- Contacto -->
        <div class="my-2">

            <div class="mb-3 border border-grey p-3">
                <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                {% set options = "" %}
                 {{ macros.fieldForm("text","Contacto","contact","contact","True",options,"")}}
            </div>

        </div>
        <!-- finaliza fieldset row -->

        <!-- Botón de envío -->
        <button type="submit" class="btn btn-primary my-5 btn-lg">Guardar</button>

    </form>
</div>
{% endblock %}