{% import "backend/routing/macros.html" as macros %}
{% extends "backend/template.html" %}

{% block title %}Nuevo{% endblock %}

{% block content %}
 <style>
    .form-check {
  margin-bottom: 0.5rem;
}
 </style>
<div class="container mt-3">

    <h2 class="my-3">Encuesta Boca de Urna PLN - Encuestador {{ current_user.id }}</h2>
    <form method="post">
        <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" id="createdby_id" name="createdby_id" value="{{ current_user.id }}" >
        <!-- fieldset row -->
        <!-- Datos demográficos -->
        <div class="my-5">
            <div class="mb-3">
                <h4>Datos demográficos</h4>
            </div>
            <div class="mb-3 border border-grey p-3">
                <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                 {% set options = {
                    "1. San José":"1. San José",
                    "2. Alajuela":"2. Alajuela",
                    "3. Cartago":"3. Cartago",
                    "4. Heredia":"4. Heredia",
                    "5. Guanacaste":"5. Guanacaste",
                    "6. Puntarenas":"6. Puntarenas",
                    "7. Limón":"7. Limón"
                 } %}
                 {{ macros.fieldForm("radio","Provincia","state","state","True",options,"")}}
            </div>
            <div class="mb-3 border border-grey p-3">
                <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                 {{ macros.fieldForm("integer","Álvaro Ramos","alvaroramos","alvaroramos","True","","")}}
                 </div>
            <div class="mb-3 border border-grey p-3">
                {{ macros.fieldForm("integer","Gilberth Jiménez","gilberthjimenez","gilberthjimenez","True","","")}}
                 </div>
            <div class="mb-3 border border-grey p-3">
                {{ macros.fieldForm("integer","Carolina Delgado","carolinadelgado","carolinadelgado","True","","")}}
                 </div>
            <div class="mb-3 border border-grey p-3">
                {{ macros.fieldForm("integer","Marvin Taylor","marvintaylor","marvintaylor","True","","")}}
                 </div>
            <div class="mb-3 border border-grey p-3">
                {{ macros.fieldForm("integer","Blancos","blank","blank","True","","")}}
                 </div>
            <div class="mb-3 border border-grey p-3">
                {{ macros.fieldForm("integer","Nulos","nulled","nulled","True","","")}}
            </div>
        </div>
        <!-- finaliza fieldset row -->

        <!-- Botón de envío -->
        <button type="submit" class="btn btn-primary my-5 btn-lg">Guardar</button>

    </form>
</div>
{% endblock %}