{% import "backend/routing/macros.html" as macros %}
{% extends "backend/template.html" %}

{% block title %}Nuevo{% endblock %}

{% block content %}
 <style>
    .form-check {
  margin-bottom: 0.5rem;
}
 </style>
<script>
function toggleDivOnRadioValue(name, divId, value) {
    document.addEventListener("DOMContentLoaded", function () {
        const radios = document.querySelectorAll(`input[name="${name}"]`);
        const targetDiv = document.getElementById(divId);
        if (!targetDiv) return;
        const inputs = targetDiv.querySelectorAll("input");

        function toggleDiv() {
            const selectedValue = document.querySelector(`input[name="${name}"]:checked`)?.value;
            if (selectedValue === value) {
                targetDiv.style.display = "block";
                inputs.forEach(input => input.removeAttribute("disabled"));
            } else {
                targetDiv.style.display = "none";
                inputs.forEach(input => {
                    input.setAttribute("disabled", "true");
                    input.checked = false;
                });
            }
        }

        radios.forEach(radio => {
            radio.addEventListener("change", toggleDiv);
        });

        toggleDiv();
    });
}

function toggleDivOnRadioNotValue(name, divId, value) {
    document.addEventListener("DOMContentLoaded", function () {
        const radios = document.querySelectorAll(`input[name="${name}"]`);
        const targetDiv = document.getElementById(divId);
        if (!targetDiv) return;
        const inputs = targetDiv.querySelectorAll("input");

        function toggleDiv() {
            const selectedValue = document.querySelector(`input[name="${name}"]:checked`)?.value;
            if (selectedValue !== value && selectedValue !== undefined) {
                targetDiv.style.display = "block";
                inputs.forEach(input => input.removeAttribute("disabled"));
            } else {
                targetDiv.style.display = "none";
                inputs.forEach(input => {
                    input.setAttribute("disabled", "true");
                    input.checked = false;
                });
            }
        }

        radios.forEach(radio => {
            radio.addEventListener("change", toggleDiv);
        });

        toggleDiv();
    });
}
</script>
<div class="container mt-3">

    <h2 class="my-3">Encuesta EC052025-Barva - Encuestador {{ current_user.id }}</h2>
    <form method="post">
        <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" id="createdby_id" name="createdby_id" value="{{ current_user.id }}" >
        <!-- fieldset row -->
        <!-- Datos demográficos -->
        <div class="my-5">
            <div class="mb-3">
                <h4>Datos demográficos</h4>
            </div>
            <div class="mb-3 border border-grey p-3">
                <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                 {% set options = {
                    "1. San José":"1. San José",
                    "2. Alajuela":"2. Alajuela",
                    "3. Cartago":"3. Cartago",
                    "4. Heredia":"4. Heredia",
                    "5. Guanacaste":"5. Guanacaste",
                    "6. Puntarenas":"6. Puntarenas",
                    "7. Limón":"7. Limón"
                 } %}
                 {{ macros.fieldForm("radio","Provincia","state","state","True",options,"")}}
            </div>
            <div class="mb-3 border border-grey p-3">
                <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                 {% set options = {
                    "a. 18 -20":"a. 18 -20",
                    "b. 21 - 24":"b. 21 - 24",
                    "c. 25 - 29":"c. 25 - 29",
                    "d. 30 - 34":"d. 30 - 34",
                    "e. 35 - 39":"e. 35 - 39",
                    "f. 40 - 44":"f. 40 - 44",
                    "g. 45 - 49":"g. 45 - 49",
                    "h. 50 - 54":"h. 50 - 54",
                    "i. 55 - 59":"i. 55 - 59",
                    "j. 60 - 64":"j. 60 - 64",
                    "k. 65 - 69":"k. 65 - 69",
                    "l. 70 - 79":"l. 70 - 79",
                    "m. + 80":"m. + 80"
                 } %}
                 {{ macros.fieldForm("radio","1. Edad","age","age","True",options,"")}}
            </div>
            <div class="mb-3 border border-grey p-3">
                <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                 {% set options = {
                    "A. Masculino":"A. Masculino",
                    "B. Femenino":"B. Femenino"
                 } %}
                 {{ macros.fieldForm("radio","2. Género","gender","gender","True",options,"")}}
            </div>
            <div class="mb-3 border border-grey p-3">
                <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                 {% set options = {
                    "a. Partido Liberación Nacional":"a. Partido Liberación Nacional",
                    "b. Partido Unidad Social Cristiana":"b. Partido Unidad Social Cristiana",
                    "c. Partido Nueva República":"c. Partido Nueva República",
                    "d. Partido Progreso Social Democrático":"d. Partido Progreso Social Democrático",
                    "e. Frente Amplio":"e. Frente Amplio",
                    "f. Partido Liberal Progresista":"f. Partido Liberal Progresista",
                    "g. PAC":"g. PAC",
                    "h. PNG":"h. PNG",
                    "i. Pueblo Soberano":"i. Pueblo Soberano",
                    "j. Partido Unidos Podemos":"j. Partido Unidos Podemos",
                    "k. Partido de Rodrigo Chaves":"k. Partido de Rodrigo Chaves",
                    "l. Otro":"l. Otro",
                    "m. Ninguno":"m. Ninguno",
                    "n. NS/NR":"n. NS/NR"
                 } %}
                 {{ macros.fieldForm("radio","3. Cuál es el partido político de su preferencia?","party","party","True",options,"")}}
            </div>
            <div class="mb-3 border border-grey p-3">
                <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                {% set title = "¿Cuál es su nivel de estudios?" %}
                {% set name = "studies" %}
                {% set options = {
                    "a. Primaria Incompleta":"a. Primaria Incompleta",
                    "b. Primaria Completa":"b. Primaria Completa",
                    "c. Secundaria Incompleta":"c. Secundaria Incompleta",
                    "d. Secundaria Completa":"d. Secundaria Completa",
                    "e. Universitaria Incompleta":"e. Universitaria Incompleta",
                    "f. Universitaria Completa":"f. Universitaria Completa",
                    "g. Técnica Incompleta":"g. Técnica Incompleta",
                    "h. Técnica Completa":"h. Técnica Completa",
                    "Otro":"Otro",
                    "NS/NR":"NS/NR"
                } %}
                {{ macros.fieldForm("radio",title,name,name,"True",options,"")}}
            </div>
            <div class="mb-3 border border-grey p-3">
                <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                {% set title = "¿Cuál es su situación laboral?" %}
                {% set name = "laboralCondition" %}
                {% set options = {
                    "a. Contrato Permanente":"a. Contrato Permanente",
                    "b. Contrato Temporal":"b. Contrato Temporal",
                    "c. Independiente":"c. Independiente",
                    "d. Desempleado":"d. Desempleado",
                    "e. Pensionado":"e. Pensionado",
                    "f. Estudiante":"f. Estudiante",
                    "g. Ama de casa":"g. Ama de casa",
                    "h. Trabajador informal":"h. Trabajador informal",
                    "Otro":"Otro",
                    "NS/NR":"NS/NR"
                } %}
                {{ macros.fieldForm("radio",title,name,name,"True",options,"")}}
            </div>
            <div class="mb-3 border border-grey p-3">
                <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                {% set title = "¿Se identifica con alguna religión?" %}
                {% set name = "religion" %}
                {% set options = {
                    "a. Católico":"a. Católico",
                    "b. Evangélico":"b. Evangélico",
                    "c. Testigo de Jehová":"c. Testigo de Jehová",
                    "d. Judío":"d. Judío",
                    "e. Musulmán":"e. Musulmán",
                    "f. Budista":"f. Budista",
                    "g. Ortodoxo":"g. Ortodoxo",
                    "h. Ateo":"h. Ateo",
                    "i. Agnóstico":"i. Agnóstico",
                    "Ninguna":"Ninguna",
                    "Otra":"Otra",
                    "NS/NR":"NS/NR"
                } %}
                {{ macros.fieldForm("radio",title,name,name,"True",options,"")}}
            </div>
        </div>
        <!-- Opiniones Políticas -->
        <div class="my-5">
            <div class="mb-3">
                <h4>Opiniones Generales</h4>
            </div>
            <div class="my-5">
                <div class="mb-3 border border-grey p-3">
                    <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                    {% set title = "¿Cuál es el principal problema que enfrenta el país actualmente?" %}
                    {% set name = "nationalProblems" %}
                    {% set options = {
                        "Seguridad ciudadana":"Seguridad ciudadana",
                        "Migración":"Migración",
                        "Educación":"Educación",
                        "Salud":"Salud",
                        "Costo de vida":"Costo de vida",
                        "Desempleo":"Desempleo",
                        "Corrupción":"Corrupción",
                        "Estado de infraestructura vial":"Estado de infraestructura vial",
                        "Otro":"Otro",
                        "NS/NR":"NS/NR"
                    } %}
                    {{ macros.fieldForm("radio",title,name,name,"True",options,"")}}
                </div>
            </div>
            <div class="my-5">
                <div class="mb-3 border border-grey p-3">
                    <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                    {% set title = "¿Diría usted que Costa Rica va por buen camino o mal camino?" %}
                    {% set name = "roadCR" %}
                    {% set options = {
                        "a. Buen camino":"a. Buen camino",
                        "b. Mal Camino":"b. Mal Camino",
                        "c. NS/NR":"c. NS/NR"
                    } %}
                    {{ macros.fieldForm("radio",title,name,name,"True",options,"")}}
                </div>
            </div>
            <div class="my-5">
                <div class="mb-3 border border-grey p-3">
                    <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                    {% set title = "¿Se considera optimista o pesimista sobre el futuro del país?" %}
                    {% set name = "optimist" %}
                    {% set options = {
                        "a. Optimista":"a. Optimista",
                        "b. Pesimista":"b. Pesimista",
                        "c. NS/NR":"c. NS/NR"
                    } %}
                    {{ macros.fieldForm("radio",title,name,name,"True",options,"")}}
                </div>
            </div>
        </div>
        <!-- Conoce Políticos -->
        <div class="my-5">
            <div class="mb-3">
                <h4>Opiniones Generales</h4>
            </div>
            {% set conoce_opinion = {
                "Natalia Diaz":["nataliaConoce","nataliaOpinion"],
                "Alvaro Ramos":["conoceAlvaro","opinionAlvaro"],
                "Laura Fernandez":["conoceLaura","opinionLaura"],
                "Claudia Dobles":["conoceClaudia","opinionClaudia"],
                "Fabricio Alvarado":["conoceFabricio","opinionFabricio"],
                "Carlos Valenciano":["conoceCarlos","opinionCarlos"],
                "Ariel Robles":["conoceAriel","opinionAriel"],
                "Luis Amador":["conoceLuis","opinionLuis"],
                "Juan Carlos Hidalgo":["conoceJuan","opinionJuan"],
                "Eli Feinzaig":["conoceEli","opinionEli"],
                "Rolando Araya":["conoceRolando","opinionRolando"],
                "Jose Maria Villalta":["conoceJose","opinionJose"]
            } %}
            {% set options = {
                "a. Sí":"a. Sí",
                "b. No":"b. No",
                "c. NS/NR":"c. NS/NR"
            } %}
            {% set optionsSecond = {
                "a. Positiva":"a. Positiva",
                "b. Negativa":"b. Negativa",
                "c. NS/NR":"c. NS/NR"
            } %}
            {% for key, value in conoce_opinion.items() %}
                <div class="my-5">
                    <div class="mb-3 border border-grey p-3">
                        <div class="mb-3 p-3">
                        <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                                {% set title = "¿Conoce a " ~ key ~ "?" %}
                                {% set name = value[0] %}

                                {{ macros.fieldForm("radio",title,name,name,"True",options,"")}}
                                <script>
                                    toggleDivOnRadioValue("{{value[0]}}", "div-{{value[1]}}", "a. Sí");
                                </script>
                        </div>
                        <div id="div-{{value[1]}}" style="display: none;" class="mb-3 p-3">
                        <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                        {% set title = "¿Cuál es su opinión sobre " ~ key ~ "?" %}
                        {% set name = value[1] %}
                        {{ macros.fieldForm("radio",title,name,name,"True",optionsSecond,"")}}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="my-5">
            <!-- Instituciones -->
            <div class="my-5">
                <div class="mb-3">
                    <h4>Opiniones Sobre gestión</h4>
                </div>
                {% set questions = {
                    "chavesSupport":["¿Apoya la gestión del presidente Rodrigo Chaves?",["a. Sí","b. No","c. NS/NR"]],
                    "chavesScale":["Del 0 al 10, ¿Cuánto apoya la gestión de Rodrigo Chaves?",["0","1","2","3","4","5","6","7","8","9","10"]],
                    "govermentSupport":["¿Apoya la gestion del gobierno?",["a. Sí","b. No","c. NS/NR"]],
                    "asambleaOpinion":["¿Cómo calificaría la labor de la Asamblea Legislativa?",["a. Muy buena","b. Buena","c. Regular","d. Mala","e. Muy mala","f. NS/NR"]],
                    "poderOpinion":["¿Cómo calificaría la labor del Poder Judicial?",["a. Muy buena","b. Buena","c. Regular","d. Mala","e. Muy mala","f. NS/NR"]],
                    "cajaOpinion":["¿Cómo calificaría la labor de la CCSS?",["a. Muy buena","b. Buena","c. Regular","d. Mala","e. Muy mala","f. NS/NR"]],
                    "mediosOpinion":["¿Cómo calificaría la labor de los medios de comunicación?",["a. Muy buena","b. Buena","c. Regular","d. Mala","e. Muy mala","f. NS/NR"]],
                    "universidadesOpinion":["¿Cómo calificaría la labor de las Universidades Públicas?",["a. Muy buena","b. Buena","c. Regular","d. Mala","e. Muy mala","f. NS/NR"]],
                    "oijOpinion":["¿Cómo calificaría la labor del OIJ?",["a. Muy buena","b. Buena","c. Regular","d. Mala","e. Muy mala","f. NS/NR"]],
                    "fuerzaOpinion":["¿Cómo calificaría la labor de la Fuerza Pública?",["a. Muy buena","b. Buena","c. Regular","d. Mala","e. Muy mala","f. NS/NR"]],
                    "contraloriaOpinion":["¿Cómo calificaría la labor de la Contraloría General de la República?",["a. Muy buena","b. Buena","c. Regular","d. Mala","e. Muy mala","f. NS/NR"]],
                    "ayaOpinion":["¿Cómo calificaría la labor del AyA?",["a. Muy buena","b. Buena","c. Regular","d. Mala","e. Muy mala","f. NS/NR"]]
                } %}

                {% for key, value in questions.items() %}
                <div class="mb-3 border border-grey p-3">
                    <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                    {% set title = value[0] %}
                    {% set name = key %}
                    {% set options = {} %}
                    {% for item in value[1] %}
                        {% set _ = options.update({item: item}) %}
                    {% endfor %}
                    {{ macros.fieldForm("radio",title,name,name,"True",options,"")}}
                </div>
                {% endfor %}
            </div>
            <!-- Presidente Mujer -->
            <div class="mb-3 border border-grey p-3">
                <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                {% set title = "¿Cree usted que una mujer presidente sería igual, mejor o peor que un hombre?" %}
                {% set name = "womanPresident" %}
                {% set options = {
                    "Igual":"Igual",
                    "Mejor":"Mejor",
                    "Peor":"Peor",
                    "NS/NR":"NS/NR"
                } %}
                {{ macros.fieldForm("radio",title,name,name,"True",options,"")}}
            </div>
            <!-- Preferencias de voto -->
            <div class="my-5">
                <div class="mb-3">
                    <h4>Preferencias sobre voto</h4>
                </div>
                {% set questions = {
                    "¿Votó en las anteriores Elecciones Nacionales? ":["lastElections","lastCandidate"]
                } %}
                {% set options = {
                    "a. Sí":"a. Sí",
                    "b. No":"b. No",
                    "c. NS/NR":"c. NS/NR"
                } %}
                {% set optionsSecond = {
                    "Carmen Quesada Santamaría":"Carmen Quesada Santamaría",
                    "Christian Rivera Paniagua":"Christian Rivera Paniagua",
                    "Eduardo Cruickshank Smith":"Eduardo Cruickshank Smith",
                    "Eliécer Feinzaig Mintz":"Eliécer Feinzaig Mintz",
                    "Fabricio Alvarado Muñoz":"Fabricio Alvarado Muñoz",
                    "Federico Malavassi Calvo":"Federico Malavassi Calvo",
                    "Greivin Moya Carpio":"Greivin Moya Carpio",
                    "Jhonn Vega Masís":"Jhonn Vega Masís",
                    "José María Figueres Olsen":"José María Figueres Olsen",
                    "José María Villalta Flórez-Estrada":"José María Villalta Flórez-Estrada",
                    "Lineth Saborío Chaverri":"Lineth Saborío Chaverri",
                    "Luis Alberto Cordero Arias":"Luis Alberto Cordero Arias",
                    "Maricela Morales Mora":"Maricela Morales Mora",
                    "Martín Chinchilla Castro":"Martín Chinchilla Castro",
                    "Natalia Díaz Quintana":"Natalia Díaz Quintana",
                    "Óscar Andrés López Arias":"Óscar Andrés López Arias",
                    "Óscar Campos Chavarría":"Óscar Campos Chavarría",
                    "Rodrigo Chaves Robles":"Rodrigo Chaves Robles",
                    "Rodolfo Hernández Gómez":"Rodolfo Hernández Gómez",
                    "Rodolfo Piza Rocafort":"Rodolfo Piza Rocafort",
                    "Rolando Araya Monge":"Rolando Araya Monge",
                    "Roulan Jiménez Chavarría":"Roulan Jiménez Chavarría",
                    "Sergio Mena Díaz":"Sergio Mena Díaz",
                    "Walter Muñoz Céspedes":"Walter Muñoz Céspedes",
                    "Welmer Ramos González":"Welmer Ramos González",
                    "Nullo":"Nulo",
                    "En blanco":"En blanco",
                    "NS/NR":"NS/NR"
                } %}
                {% for key, value in questions.items() %}
                    <div class="">
                        <div class="mb-3 border border-grey p-3">
                        <div class="mb-3 p-3">
                        <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                                {% set title = key %}
                                {% set name = value[0] %}

                                {{ macros.fieldForm("radio",title,name,name,"True",options,"")}}
                                <script>
                                    toggleDivOnRadioValue("{{value[0]}}", "div-{{value[1]}}", "a. Sí");
                                </script>
                        </div>
                        <div id="div-{{value[1]}}" style="display: none;" class="mb-3 p-3">
                            <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                            {% set title = "¿Por quién votó?" %}
                            {% set name = value[1] %}
                            {{ macros.fieldForm("radio",title,name,name,"True",optionsSecond,"")}}
                        </div>
                        </div>
                    </div>
                {% endfor %}
                {% set questions = {
                    "voteScale":["Del 0 al 10, ¿Qué tan seguro está de votar?",["0","1","2","3","4","5","6","7","8","9","10"]],
                    "generalElections":["¿Si las elecciones fueran hoy, por quién votaría?",[
                        "Laura Fernandez",
                        "Claudia Dobles",
                        "Luis Amador",
                        "Eliécer Feinzaig",
                        "Natalia Díaz ",
                        "Sofia Guillen",
                        "Alvaro Ramos",
                        "Juan Carlos Hidalgo",
                        "Fabricio Alvarado",
                        "Rolando Araya",
                        "Francisco Gamboa",
                        "Carlos Valenciano Kamer",
                        "Douglas Soto",
                        "Claudio Alpízar",
                        "Fernando Zamora",
                        "Ninguno",
                        "NS/NR"
                    ]],
                    "secondNationalElections":["¿Si la papeleta fuera esta, por quién votaría?",[
                        "Laura Fernandez",
                        "Claudia Dobles",
                        "Luis Amador",
                        "Natalia Díaz ",
                        "Alvaro Ramos",
                        "Juan Carlos Hidalgo",
                        "Fabricio Alvarado",
                        "Rolando Araya",
                        "Ninguno",
                        "NS/NR"
                    ]],
                    "personOrParty":["¿Está de acuerdo con la siguiente frase? Hoy votaría más por una persona que por un partido",["a. Sí","b. No","c. NS/NR"]],
                    "nextGoverment":["¿Con cuál de las siguientes opciones se identifica: Me gustaría que el próximo gobierno sea...",["a. Igual al gobierno de Chaves", "b. Totalmente diferente al gobierno de Chaves", "c.Parecido, pero con otra forma de comunicar", "d. Ninguna de las anteriores", "e. NS/NR"]],
                    "chavesCandidate":["¿Votaría por cualquier candidato que diga Cháves?",["a. Sí","b. No","c. NS/NR"]]
                } %}

                {% for key, value in questions.items() %}
                <div class="mb-3 border border-grey p-3">
                    <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                    {% set title = value[0] %}
                    {% set name = key %}
                    {% set options = {} %}
                    {% for item in value[1] %}
                        {% set _ = options.update({item: item}) %}
                    {% endfor %}
                    {{ macros.fieldForm("radio",title,name,name,"True",options,"")}}
                </div>
                {% endfor %}
            </div>
            <!-- Gobierno cumplio -->
            <div class="my-5">
                <div class="mb-3">
                    <h4>Evaluación temática</h4>
                    
                </div>
                {% set questions = {
                    "security":["Seguridad ciudadana",["a. Cumplió","b. No cumplió","c. NS/NR"]],
                    "migration":["Migración",["a. Cumplió","b. No cumplió","c. NS/NR"]],
                    "education":["Educación",["a. Cumplió","b. No cumplió","c. NS/NR"]],
                    "health":["Salud",["a. Cumplió","b. No cumplió","c. NS/NR"]],
                    "cost":["Costo de vida",["a. Cumplió","b. No cumplió","c. NS/NR"]],
                    "jobs":["Empleo",["a. Cumplió","b. No cumplió","c. NS/NR"]],
                    "corrupt":["Combate a Corrupción",["a. Cumplió","b. No cumplió","c. NS/NR"]]
                } %}

                <h5>Por cada tema, considera que el gobierno ha cumplido o no:</h5>
                {% for key, value in questions.items() %}
                <div class="mb-3 border border-grey p-3">
                    <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                    {% set title = value[0] %}
                    {% set name = key %}
                    {% set options = {} %}
                    {% for item in value[1] %}
                        {% set _ = options.update({item: item}) %}
                    {% endfor %}
                    {{ macros.fieldForm("radio",title,name,name,"True",options,"")}}
                </div>
                {% endfor %}
            </div>
            <!-- Apoyo a propuestas -->
            <div class="my-5">
                <div class="mb-3">
                    <h4>Apoyo a propuestas</h4>
                    
                </div>
                {% set questions = {
                    "trabajoCarceles":["Trabajo obligatorio en las cárceles",["a. Completamente de Acuerdo", "b. De Acuerdo", "c. En Desacuerdo", "d. Completamente en Desacuerdo", "e. NS/NR"]],
                    "migrationDeport":["Migración regulada con deportación inmediata de extranjeros que comentan crímenes en CR, después de cumplir su condena",["a. Completamente de Acuerdo", "b. De Acuerdo", "c. En Desacuerdo", "d. Completamente en Desacuerdo", "e. NS/NR"]],
                    "finalcialEducation":["Educación financiera y habilidades blandas desde primaria",["a. Completamente de Acuerdo", "b. De Acuerdo", "c. En Desacuerdo", "d. Completamente en Desacuerdo", "e. NS/NR"]],
                    "independentWorkers":["Estado más flexible para trabajadores independientes",["a. Completamente de Acuerdo", "b. De Acuerdo", "c. En Desacuerdo", "d. Completamente en Desacuerdo", "e. NS/NR"]],
                    "abort":["Aborto libre, en caso de violación",["a. Completamente de Acuerdo", "b. De Acuerdo", "c. En Desacuerdo", "d. Completamente en Desacuerdo", "e. NS/NR"]],
                    "childJudge":["Niños juzgados como adultos en casos de homicidio",["a. Completamente de Acuerdo", "b. De Acuerdo", "c. En Desacuerdo", "d. Completamente en Desacuerdo", "e. NS/NR"]],
                    "sexualGuides":["Uso de las Guías sexuales en la educación",["a. Completamente de Acuerdo", "b. De Acuerdo", "c. En Desacuerdo", "d. Completamente en Desacuerdo", "e. NS/NR"]],
                    "mine":["Que Costa Rica explore y aproveche sus recursos mineros para generar ingresos y empleo (siempre que se haga bajo normas ambientales estrictas)",["a. Completamente de Acuerdo", "b. De Acuerdo", "c. En Desacuerdo", "d. Completamente en Desacuerdo", "e. NS/NR"]],
                    "secularState":["Costa Rica debería ser un Estado laico (es decir, sin una religión oficial. Actualmente la religión católica es reconocida como la religión del Estado)",["a. Completamente de Acuerdo", "b. De Acuerdo", "c. En Desacuerdo", "d. Completamente en Desacuerdo", "e. NS/NR"]],
                    "weed":["Que las personas adultas puedan consumir marihuana de forma legal y regulada en Costa Rica (actualmente eso está permitido en otros países)",["a. Completamente de Acuerdo", "b. De Acuerdo", "c. En Desacuerdo", "d. Completamente en Desacuerdo", "e. NS/NR"]],
                    "sellInstitutions":["Que el Estado venda algunas instituciones o empresas públicas para reducir la deuda o financiar proyectos prioritarios",["a. Completamente de Acuerdo", "b. De Acuerdo", "c. En Desacuerdo", "d. Completamente en Desacuerdo", "e. NS/NR"]]
                } %}

                <div class="mb-3 border border-grey p-3">
                    <h5>Por cada tema, opine si está de acuerdo o desacuerdo:</h5>
                {% for key, value in questions.items() %}
                    <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                    {% set title = value[0] %}
                    {% set name = key %}
                    {% set options = {} %}
                    {% for item in value[1] %}
                        {% set _ = options.update({item: item}) %}
                    {% endfor %}
                    {{ macros.fieldForm("radio",title,name,name,"True",options,"")}}
                    {% endfor %}
                </div>
            </div>
            <!-- Frases -->
            <div class="mb-3 border border-grey p-3">
                <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                {% set title = "¿Con cuál de las siguientes frases se identifica más?" %}
                {% set name = "phrases" %}
                {% set options = {
                    "Costa Rica necesita mano firme":"Costa Rica necesita mano firme",
                    "Costa Rica necesita un gobierno que escuche":"Costa Rica necesita un gobierno que escuche",
                    "Costa Rica necesita orden y empatía":"Costa Rica necesita orden y empatía",
                    "Costa Rica necesita que la dejen trabajar":"Costa Rica necesita que la dejen trabajar",
                    "Costa Rica necesita recuperar el valor de la familia":"Costa Rica necesita recuperar el valor de la familia",
                    "Ninguna":"Ninguna",
                    "NS/NR":"NS/NR"
                } %}
                {{ macros.fieldForm("radio",title,name,name,"True",options,"")}}
            </div>
        </div>
        <!-- Natalia Diaz -->
        <div class="my-5">
            <h4>Posicionamiento</h4>
            {% set questions = {
                "¿Ha escuchado usted hablar de una persona llamada Natalia Díaz?":["aboutNatalia","aboutNataliaScale"]
            } %}
            {% set options = {
                "a. Sí":"a. Sí",
                "b. No":"b. No",
                "c. NS/NR":"c. NS/NR"
            } %}
            {% set optionsSecond = {
                "a. La conoce bien":"a. La conoce bien",
                "b. La ha escuchado mencionar, pero no la conoce bien":"b. La ha escuchado mencionar, pero no la conoce bien",
                "c. No la conoce":"c. No la conoce"
            } %}
            {% for key, value in questions.items() %}
                <div class="mb-3 border border-grey p-3">
                    <div class="mb-3 p-3">
                    <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                            {% set title = key %}
                            {% set name = value[0] %}

                            {{ macros.fieldForm("radio",title,name,name,"True",options,"")}}
                            <script>
                                toggleDivOnRadioValue("{{value[0]}}", "div-{{value[1]}}", "a. Sí");
                            </script>
                    </div>
                    <div id="div-{{value[1]}}" style="display: none;" class="mb-3 p-3">
                        <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                        {% set title = "¿Cuál es su nivel de conocimiento sobre Natalia Díaz?" %}
                        {% set name = value[1] %}
                        {{ macros.fieldForm("radio",title,name,name,"True",optionsSecond,"")}}
                    </div>
                </div>  
                <script>
                    toggleDivOnRadioNotValue("aboutNataliaScale", "div-aboutNatalia", "c. No la conoce")
                </script>
                <!-- Sobre Natalia Diaz -->
                <div class="my-5" id="div-aboutNatalia">
                    <!-- Donde -->
                    <div class="mb-3 border border-grey p-3">
                        <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                        {% set title = "¿Dónde la ha visto o escuchado recientemente?" %}
                        {% set name = "whereAboutNatalia" %}
                        {% set options = {
                            "a. Televisión":"a. Televisión",
                            "b. Redes sociales":"b. Redes sociales",
                            "c. Radio":"c. Radio",
                            "d. Periódico":"d. Periódico",
                            "e. Evento público":"e. Evento público",
                            "f. Conversación con amigos o familiares":"f. Conversación con amigos o familiares",
                            "g. Otro":"g. Otro",
                            "No la ha visto o escuchado recientemente":"No la ha visto o escuchado recientemente",
                            "NS/NR":"NS/NR"
                        } %}
                        {{ macros.fieldForm("radio",title,name,name,"True",options,"")}}
                        <script>
                            toggleDivOnRadioValue("whereAboutNatalia", "div-recentlyNatalia", "g. Otro");
                        </script>
                        <div class="mb-3 p-3" id="div-recentlyNatalia" style="display: none;">
                            {% set options = "" %}
                            {{ macros.fieldForm("text","Especifique otro","recentlyNatalia","recentlyNatalia","True",options,"")}}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <div class="my-5">
            <!-- Una palabra -->
            <div class="mb-3 border border-grey p-3">
                <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                {% set options = "" %}
                 {{ macros.fieldForm("text","¿Cómo la describiría en una palabra?","wordAboutNatalia","wordAboutNatalia","True",options,"")}}
            </div>
            <!-- Diferencia -->
            <div class="mb-3 border border-grey p-3">
                <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                {% set options = "" %}
                 {{ macros.fieldForm("text","¿Qué la diferencia de los demás?","differentNatalia","differentNatalia","True",options,"")}}
            </div>
            <!-- Presidente-->
            <div class="mb-3 border border-grey p-3">
                <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                {% set title = "¿Cree usted que Natalia Díaz está preparada para ser presidente de la República?" %}
                {% set name = "presidentAboutNatalia" %}
                {% set options = {
                    "a. Sí":"a. Sí",
                    "b. No":"b. No",
                    "c. NS/NR":"c. NS/NR"
                } %}
                {{ macros.fieldForm("radio",title,name,name,"True",options,"")}}
            </div>
            <!-- Crimen -->
            <div class="mb-3 border border-grey p-3">
                <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                {% set title = "¿A cuál de estos candidatos considera usted más firme para enfrentar el crimen y la inseguridad?" %}
                {% set name = "crimeCandidates" %}
                {% set options = {
                    "Natalia Díaz":"Natalia Díaz",
                    "Álvaro Ramos":"Álvaro Ramos",
                    "Laura Fernández":"Laura Fernández",
                    "Fabricio Alvarado":"Fabricio Alvarado",
                    "Claudia Dobles":"Claudia Dobles",
                    "Carlos Valenciano":"Carlos Valenciano",
                    "Ariel Robles":"Ariel Robles",
                    "Luis Amador":"Luis Amador",
                    "Rolando Araya":"Rolando Araya",
                    "Juan Carlos Hidalgo":"Juan Carlos Hidalgo",
                    "Otro":"Otro",
                    "Ninguno":"Ninguno",
                    "NS/NR":"NS/NR"
                } %}
                {{ macros.fieldForm("radio",title,name,name,"True",options,"")}}
                <script>
                    toggleDivOnRadioValue("crimeCandidates", "div-otherCrime", "Otro");
                </script>
                <div class="mb-3 p-3" id="div-otherCrime" style="display: none;">
                    {% set options = "" %}
                     {{ macros.fieldForm("text","Especifique otro","otherCrime","otherCrime","True",options,"")}}
                </div>
            </div>
            <!-- Policital Message -->
            <div class="mb-3 border border-grey p-3">
                <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                {% set options = "" %}
                 {{ macros.fieldForm("text","Si la campaña de un político tuviera un solo mensaje para usted, ¿cuál debería ser?","politicalMessage","politicalMessage","True",options,"")}}
            </div>
            <!-- Presidente -->
            <div class="mb-3 border border-grey p-3">
                <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                {% set title = "¿Cuál de estas razones lo animaría a apoyar a un candidato?" %}
                {% set name = "supportReasons" %}
                {% set options = {
                    "Que proponga soluciones firmes a la inseguridad":"Que proponga soluciones firmes a la inseguridad",
                    "Que no esté ligado a partidos tradicionales":"Que no esté ligado a partidos tradicionales",
                    "Que tenga experiencia en gobierno":"Que tenga experiencia en gobierno",
                    "Que defienda al trabajador independiente y al emprendedor":"Que defienda al trabajador independiente y al emprendedor",
                    "Que represente una nueva generación":"Que represente una nueva generación",
                    "Que sea del partido del presidente":"Que sea del partido del presidente",
                    "Otra":"Otra",
                    "NS/NR":"NS/NR"
                } %}
                {{ macros.fieldForm("radio",title,name,name,"True",options,"")}}
                <script>
                    toggleDivOnRadioValue("supportReasons", "div-otherSupport", "Otra");
                </script>
                <div class="mb-3 p-3" id="div-otherSupport" style="display: none;">
                    {% set options = "" %}
                     {{ macros.fieldForm("text","Especifique otro","otherSupport","otherSupport","True",options,"")}}
                </div>
            </div>
        </div>

        <!-- Contacto -->
        <div class="my-2">

            <div class="mb-3 border border-grey p-3">
                <!-- fieldForm(input,label,id,name,type,required,options,value) -->
                {% set options = "" %}
                 {{ macros.fieldForm("text","Contacto","contact","contact","True",options,"")}}
            </div>

        </div>
        <!-- finaliza fieldset row -->

        <!-- Botón de envío -->
        <button type="submit" class="btn btn-primary my-5 btn-lg">Guardar</button>

    </form>
</div>
{% endblock %}