<script>
    window.location.href = "/admin/login";
</script>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Nible Tecnología" />
    <meta name="description" content="NGDO">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>{% block title %} LANDING {%endblock%}</title>
    <!-- Stylesheets & Fonts -->
    <link href="{{ url_for('static', filename='assets/css/plugins.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dist/css/style.css') }}" rel="stylesheet">

    {% block extrascripts %}{%endblock%}
</head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">
        <!-- Topbar -->
        <div id="topbar" class="topbar-fullwidth d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="top-menu">
                            <li><a href="#">Tel.: +  </a></li>
                            <li><a href="#">Email: </a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 d-none d-sm-block">
                        <div class="social-icons social-icons-colored-hover">
                            <ul>
                                <li class="social-facebook"><a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="social-twitter"><a href="https://x.com/"><i class="fab fa-twitter"></i></a></li>
                                <li class="social-linkedin"><a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: Topbar -->
        <!-- Header -->
        <header id="header" data-fullwidth="true">
          <div class="header-inner">
              <div class="container">
                  <!--Logo-->
                  <div id="logo">
                      <a href="{{ url_for('application.index') }}">
                          
                          <span class="logo-default"><img src="{{ url_for('static', filename='ngo.png') }}" style="max-width: 120px;"></span>
                          <span class="logo-dark"><img src="{{ url_for('static', filename='ngo.png') }}" style="max-width: 120px;"></span>
                      </a>
                  </div>
                  <!--End: Logo-->
                  <!-- Search -->
                  <div id="search"><a id="btn-search-close" class="btn-search-close" aria-label="Close search form"><i class="icon-x"></i></a>
                      <form class="search-form" action="/search/" method="get">
                          <input class="form-control" name="str-title" type="text" placeholder="Buscar" />
                          <span class="text-muted">Digita un título o término</span>
                      </form>
                  </div>
                  <!-- end: search -->
                  <!--Header Extras-->
                  <div class="header-extras">
                      <ul>
                          <li>
                              <a id="btn-search" href="#"> <i class="icon-search"></i></a>
                          </li>
                      </ul>
                  </div>
                  <!--end: Header Extras-->
                  <!--Navigation Resposnive Trigger-->
                  <div id="mainMenu-trigger">
                      <a class="lines-button x"><span class="lines"></span></a>
                  </div>
                  <!--end: Navigation Resposnive Trigger-->
                  <!--Navigation-->
                  <div id="mainMenu">
                      <div class="container">
                          <nav>
                              <ul>
                                  <li><a href=""></a></li>
                                  <li class="dropdown"><a href="#">Menu</a>
                                      <ul class="dropdown-menu">
                                        <li><a href="">
                                          <div>Submenuu</div>
                                        </a></li>
                                      </ul>
                                  </li>
                                  <li >
                                    <a href="#">Link</a>
                                  </li>
                              </ul>
                          </nav>
                      </div>
                  </div>
                  <!--END: NAVIGATION-->
              </div>
          </div>
        </header>
        <!-- end: Header -->

<body>

  <main style="min-height: 80vh;">
      <!--Section: Content-->
      {% block content %}

      {%endblock%}

  </main>  
 <!--Main layout-->
 <footer id="footer" class="bg-dark py-5">
  <div class="container">
    <div class="row">
    </div>
  </div>

</footer>
    <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="{{ url_for('static', filename='assets/js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/plugins.js') }}"></script>
    <!--Template functions-->
    <script src="{{ url_for('static', filename='assets/js/functions.js') }}"></script>
</body>
</html>