{% extends "backend/template.html" %}

{% block title %}{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% for message in messages %}
{{ message }}
{% endfor %}
{% endwith%}
<div class="container mt-3">
    <div class="row d-flex align-items-center vh-100">
        <div class="col-sm-4 mx-auto my-auto">
            <form method="POST" action="{{ url_for('.reset_password', token=token) }}">
                <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="">
                                <div class="mb-3">
                                    <div class="form-group">
                                        <label for="password">New Password</label>
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your new password" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </form>
        </div>
    </div>

</div>
{% endblock %}