{% extends "backend/template.html" %}

{% block title %}{% endblock %}

{% block content %}

<div class="container mt-3">
    <div class="row d-flex align-items-center vh-100">
        <div class="col-sm-4 mx-auto my-auto">
            <h2>Cambiar Contraseña</h2>
            <form method="POST" action="{{ url_for('.reset_password_request') }}">
                <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="">
                                <div class="mb-3">
                                    <div class="form-group">
                                        <label for="email">Email address</label>
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </form>
        </div>
    </div>

</div>
{% endblock %}