{% import "backend/macros.html" as macro %}
{% import "backend/snippets/snippets.html" as snippets %}
{% extends "backend/custom/surround.html" %}

{% block content %}
    {% set clazzDetails = classid|get_clazz_details %}
    
    <div class="container mt-3">
        <h2>Resultados para {{ clazzDetails.get("label") }}: </h2>
        {% set args = request.args.copy() %}
        {{ macro.searchFieldset(clazzDetails,args) }}
        <!-- Botón para crear una nueva institución -->
        <a href="{{ url_for('.create_record', classid=classid) }}" class="btn btn-success mb-3">Crear {{ clazzDetails.get("label") }}</a>
        {%if table %}
        {{ snippets.getTable(classid,args,table)}}
        {%else%}
        No hay registros para esta búsqueda.
        {%endif%}
    </div>

{% endblock %}